In [1]:
import pandas as pd
pd.__version__

'1.1.0'

In [2]:
salaries = [
	("Mark", 1000),
	("John", 1500),
	("Daniel", 2300),
	("Greg", 5000)
]

In [3]:
names_series = pd.Series(["Mark", "John", "Daniel", "Greg"])
names_series

0      Mark
1      John
2    Daniel
3      Greg
dtype: object

In [20]:
salary_series = pd.Series([1000, 1500, 2300, 5000])
salary_series

0    1000
1    1500
2    2300
3    5000
dtype: int64

In [21]:
names_series.describe()

count        4
unique       4
top       Greg
freq         1
dtype: object

In [22]:
salary_series.describe()

count       4.000000
mean     2450.000000
std      1782.320585
min      1000.000000
25%      1375.000000
50%      1900.000000
75%      2975.000000
max      5000.000000
dtype: float64

In [23]:
raise_series = pd.Series([100, 100, 100, 100])
raise_series

0    100
1    100
2    100
3    100
dtype: int64

In [25]:
new_salary_series = salary_series + raise_series
new_salary_series

0    1100
1    1600
2    2400
3    5100
dtype: int64

In [26]:
salary_series.index

RangeIndex(start=0, stop=4, step=1)

In [27]:
salary_series.index = names_series
salary_series

Mark      1000
John      1500
Daniel    2300
Greg      5000
dtype: int64

In [28]:
salary_series['Mark']

1000

In [30]:
names = ["Mark", "John", "Daniel", "Greg"]
salaries = [1000, 1500, 2300, 5000]
salary_series_improved = pd.Series(salaries, index=names)
salary_series_improved

Mark      1000
John      1500
Daniel    2300
Greg      5000
dtype: int64